body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../img/bg-office.avif") no-repeat center center/cover; /* Nền hình ảnh */
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.form-img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}
